.heroBackground {
    min-height: 40rem;
    position: relative;
    background: linear-gradient(to right, #FFFFFF, #D6E6FE);
}


@media only screen and (min-width:	1024px ) {
    .heroBackground{
        background: linear-gradient(270deg, rgba(255,255,255,0.9) 35%, rgba(214,230,254,0.9) 35%);
        border-bottom-right-radius: 20rem;
    }
}